{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <blockquote class="layui-elem-quote" style="background-color: white">用户越多，投递的简历越多，推荐的越准确</blockquote>
    </div>
    {% for job in recommend_list %}
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">
          <strong>{{ job.name | truncatechars:20 }}</strong>
        </div>
        <div class="layui-card-body">
          <div class="layui-text">
            <p><i class="layui-icon layui-icon-rmb"></i> 薪资待遇：{{ job.salary }}</p>
            <p><i class="layui-icon layui-icon-read"></i> 学历要求：{{ job.education }}</p>
            <p><i class="layui-icon layui-icon-user"></i> 经验要求：{{ job.experience }}</p>
            <p><i class="layui-icon layui-icon-location"></i> 工作地点：{{ job.place }}</p>
            <p><i class="layui-icon layui-icon-home"></i> 公司名称：{{ job.company | truncatechars:20 }}</p>
          </div>
          <div class="layui-card-footer" style="text-align: center; padding-top: 10px;">
            <button class="layui-btn layui-btn-normal" onclick="send('{{ job.job_id }}', '{{ job.name }}')">
              <i class="layui-icon layui-icon-add-1"></i> 投递职位
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</body>
{% endblock %}

{% block js %}
<script>
layui.config({
  base: '{% static "layuiadmin/" %}' //静态资源所在路径
}).extend({
  index: 'lib/index' //主入口模块
}).use(['index', 'jquery', 'layer', 'element']);

function send(job_id, job_name) {
  var $ = layui.$,
      layer = layui.layer;

  layer.confirm('确定投递职位 "' + job_name + '" 吗？', {
    btn: ['确定', '取消']
  }, function() {
    $.ajax({
      type: 'POST',
      data: {
        "job_id": job_id,
        "send_key": 0
      },
      url: '/send_job/',
      success: function(res) {
        layer.msg(res.msg);
        location.reload();
      },
      error: function(response) {
        layer.msg(response.msg);
      }
    });
  });
}
</script>
{% endblock js %}