{% extends "base.html" %}
{% load static %}
{% block content %}
    <body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        信息量
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">{{ all_job }}条</p>
                        <p>总计职位信息数量</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        最高薪资
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">{{ job_data_1.salary }}</p>
                        <p>{{ job_data_1.name | truncatechars:26 }}</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        平均薪资
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">{{ mean_salary }}k</p>
                        <p>所有薪资的平均薪资</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        爬取次数
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">{{ spider_info.count }}次</p>
                        <p>
                            总计爬取{{ spider_info.count }}次,共{{ spider_info.page }}页
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">数据概览</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                                     lay-filter="LAY-index-dataview">
                                    <div carousel-item id="LAY-index-dataview">
                                        <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">系统监控</div>
                    <div class="layui-card-body">
                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="LAY-index-control">
                            <div carousel-item id="LAY-index-control">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i>正在加载...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">薪资排行TOP10</div>
                    <div class="layui-card-body">
                        <table id="salary-top10" lay-filter="salary-top10"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '{% static "layuiadmin/" %}' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'console', 'table'], function(){
            var table = layui.table;
            
            //薪资排行TOP10表格
            table.render({
                elem: '#salary-top10'
                ,url: '/get_salary_top10/'
                ,page: false
                ,cols: [[
                    {field: '_id', title: '职位编号', width: 180}
                    ,{field: 'name', title: '职位名称', width: 200}
                    ,{field: 'salary', title: '薪资待遇', width: 120}
                    ,{field: 'education', title: '学历要求', width: 100}
                    ,{field: 'experience', title: '经验要求', width: 100}
                    ,{field: 'place', title: '工作地点', width: 120}
                    ,{field: 'company', title: '公司名称', width: 200}
                    ,{field: 'company_type', title: '所属行业', width: 120}
                    ,{field: 'company_size', title: '公司规模', width: 120}
                ]]
                ,done: function(res){
                    if(res.code !== 0){
                        layer.msg(res.msg || '加载数据失败');
                    }
                }
            });
        });
    </script>
{% endblock %}